<div class="footer" id="footer" role="contentinfo">
  <div class="row">
    <div class="footer__block">
      <p><%= site_name %> <%= Time.now.year %></p>
      <div class="final__social-links">
        <ul>
          <li>
            <a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>" class="social-link social-link--twitter" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::TWITTER_EXIT, :label => "Footer link")%>">@<%= AlaveteliConfiguration::twitter_username %></a>
          </li>
          <li>
            <a href="https://facebook.com/<%= AlaveteliConfiguration::facebook_username %>" class="social-link social-link--facebook" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::FACEBOOK_EXIT, :label => "Footer link")%>">/<%= AlaveteliConfiguration::facebook_username %></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
