<p><% @title = "التقديم" %> <%= render :partial => 'sidebar' %></p>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">تقديم منصّة <%= site_name %> <a href="#introduction">#</a></h1>
  <br />
  <dl>
    <dt id="purpose">ما هو الهدف من <%= site_name %> ؟ <a href="#purpose">#</a></dt>
    <dd>منصّة «<%= site_name %>» تساعدك على تقديم مطالب نفاذ للمعلومة عن بعد. كما يمكن من خلال المنّصة الإطلاّع على مختلف المطالب المقدّمة والأجوبة المتصلّة بها بإعتبارها متاحة للجميع.</dd>
    <dt id="premise">كيف تعمل منصة <%= site_name %> ؟ <a href="#premise">#</a></dt>
    <dd>يتم اختيار الهيكل العمومي المعني بمطلب النفاذ ومن ثم كتابة رسالة تحتوي على نص المطلب (سؤال، وثيقة تملكها المؤسسة، ...). ويتم بعد ذلك إرسال المطلب إلى الهيكل المعني. إذا استجاب الهيكل لمطلب النفاذ أو عند إنقضاء آجال الرد يتم إشعار المستعمل عن طريق المنصة وعن طريق البريد الإلكتروني . يتم نشر جميع الأجوبة الواردة على الموقع بحيث يمكن للجميع الإطلاع عليها.</dd>
    <dt id="whybother_me">ماهي أهمية مطالب النفاذ إلى المعلومة؟ <a href="#whybother_me">#</a></dt>
    <dd>في إطار ضمان حق كل شخص طبيعي أو معنوي في النفاذ الى المعلومة ولتعزيز مبدأ الشفافية ، تمّ إقرار حق النفاذ إلى المعلومة والوثائق الإدارية من قبل الحكومة التونسية بمقتضى قانون أساسي عدد 22 لسنة 2016 مؤرخ في 24 مارس 2016 وذلك بالإطلاع على الوثائق اللتي تم نشرها مسبقا من قبل الهياكل للدولة بمواقع الواب الخاصة بها أو بطلب الإطلاع على الوثائق - مهما كان شكلها أو وعاؤها أو تاريخها - مباشرة أو بطرق أخرى والحصول عليها مجانا أو بمقابل بسيط (إذا كان توفير الوثائق المطلوبة يقتضي جملة من المصاريف) باستثناء بعض الوثائق غير المتاحة للنفاذ مثل الوثائق ذات الطابع السري أوالوثائق الشخصية أوالوثائق المتعلقة بالملكيّة الفكرية إضافة إلىوثائق تتعلق بالأمن العام وأسرار الدولة.</dd>
    <dt id="whybother_them">لماذا يتعين على الهيكل أن يجيب؟ <a href="#whybother_them">#</a></dt>
    <dd>بموجب قانون حق النفاذ إلى المعلومة، فإن معظم الهياكل  ملزمة بالرد على معظم المطالب. يجب أن تحتوي الإجابة إما على المعلومات المطلوبة، أو أن يوضح الهيكل العمومي السبب وراء حجبه للمعلومة أو إستحالة نشرها. ويتم الحصول على الوثائق المطلوبة بعد تقديم مطلب نفاذ إلى المعلومة يتضمن معطيات أساسية يتولى المكلف بالإعلام والنفاذ بالهيكل المعني دراسته ومتابعته ويتم الاستجابة لهذه المطالب تبعا لآجال محددة في الغرض وفي صورة عدم إتاحة الوثائق أو عدم الإجابة أو الرفض فإن لطالب المعلومة الحق في التظلم.</dd>
    <dt id="reporting">ماذا لو اكتشفت محتوى غير لائق؟ <a href="#reporting">#</a></dt>
    <dd>
      <p>لا يسمح بالمطالب التي تسعى للحصول على معلومات شخصية أو تكون متعارضة مع قانون النفاذ إلى المعلومة.</p>
      <p>إذا كنت تعتقد أن المطلب غير مناسب، يمكنك الإبلاغ عنه إلى مسؤولي الموقع.</p>
    </dd>
    <dt id="reporting_unavailable">لماذا لم يعد بإمكاني الإبلاغ عن مطالب معينة؟ <a href="#reporting_unavailable">#</a></dt>
    <dd>
      <p>إذا تم إبلاغ أحد مشرفي الموقع بطلب ما، فلا يمكنك الإبلاغ عنه مرة أخرى لمنع المشرفين من تلقي تقارير متعددة عن المشكلة نفسها قبل أن تتاح لهم الفرصة لمراجعتها.</p>
      <p>إذا اختار المشرفون ترك مطلب سبق الإبلاغ عنه كغير لائق، فيمكنك استخدام النموذج في الشريط الجانبي للتطبيق للاتصال بالمشرفين، في حال كنت لا تزال تعتقد أنه يجب أن يكون مخفيا.</p>
    </dd>
    <dt id="updates">كيف يمكنني البقاء على إطلاع بمستجدات <%= site_name %> ؟ <a href="#updates">#</a></dt>
    <dd>لدينا صفحة الفيسبوك وحساب تويتر</dd>
  </dl>
  <p><strong>Next</strong>,  تعرف على المزيد حول <a href="<%= help_requesting_path %>"> إرسال مطلب </a> --></p>
  <div id="hash_link_padding"> </div>
</div</div>
