<% @title = " أسئلة للمكلفين بالنفاذ للمعلومة" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

  <dl>

    <dt id="top"> كنت بصدد الإجابة عن طلب فوجدت هذه الصفحة، لماذا؟ <a href="#top">#</a> </dt>

    <dd><p><%= site_name %> هي منصة يديرها برنامج أنشر. إنفورميني يقوم بتسهيل النفاذ إلى المعلومة عبر الطلبات الإلكترونية ويسمح بتتبع وتبادل الردود بسهولة. </p>

      <p> تم ارسال طلب النفاذ إلى المعلومة الذي تلقيته من قبل مستخدم لمنصة <%= site_name %>. . يمكنك ببساطة الرد على الطلب عبر البريد الإلكتروني. سيتم نشر جميع ردود الهياكل العمومية تلقائيا على شبكة الإنترنت.
      </p>
      <p> إذا كانت لديك أسئلة حول الخصوصية أو أية مخاوف أخرى، يرجى قراءة المعلومات في قسم <a
        href="<%= help_about_path %>"> تقديم بوابة <%= site_name %></a> يمكنك أيضا قراءة صفحات المساعدة الأخرى لمعرفة المزيد حول ما تفعله إنفورميني. يمكنك أيضا البحث في الموقع عن الهيكل العمومي الخاص بك وعرض طلبات أخرى قدمت باستخدام إنفورميني.
      <p> وأخيرا، يسرنا تلقي ملاحظات مسؤلي النفاذ إلى المعلومة, لذلك <a href="<%= help_contact_path %>"> لا تتردد في الإتصال بنا touch</a>.
      </p>
    </dd>

    <dt id="responses"> لماذا تنشر الردود على طلبات النفاذ؟ <a href="#responses">#</a> </dt>

    <dd> نعتقد أن هناك العديد من الفوائد لهذا النشر. فهو يشجع المواطنين على أن يكونو أكثر اهتماما ومشاركة في عمل الإدارة والحكومة. ونأمل أيضا أن يؤدي ذلك إلى تقليل عدد الطلبات المتشابهة التي تتلقاها الهياكل العمومية. كما أن الردود على طلبات النفاذ إلى المعلومة تحتوي على معلومات عامة يمكن لأي شخص أن يطلبها من الهيكل، ولذلك فإننا نعتقد أنه ليس هناك أي سبب لعدم نشر هذه المعلومات.
    </dd>

    <dt id="realpeople"> هل أن طلبات النفاذ متأتية من أشخاص ؟ <a href="#realpeople">#</a> </dt>

    <dd> نعم. فمن أجل متابعة الردود نستخدم عناوين البريد الإلكتروني التي تم إنشاؤها بواسطة الكمبيوتر لكل طلب. ومع ذلك، قبل أن يتمكن من تقديم طلب، يجب على كل مستخدم التسجيل على الموقع مع عنوان بريد إلكتروني فريد قمنا بالتحقق منه. يمكنك العثور في إنفورميني على قائمة بجميع الطلبات التي قدمها كل مستخدم.
    </dd>

    <dt id="email_only"> عنوان البريد الإلكتروني غير كاف لجعل طلب النفاذ شرعياً <a href="#email_only">#</a> </dt>

    <dd> يقتضي قانون النفاذ إلى المعلومة تقديم الطلبات كتابة. وتعترف السوابق القضائية بالبريد الإلكتروني باعتباره شكل كتابي صالح لطلب النفاذ إلى المعلومات التي تحتفظ بها الهياكل العمومية.    </dd>

    <dt id="vexatious"> هل أن المنصة تعطل النفاذ عبر الطلبات التي قد تكون غير لائقة؟ <a href="#vexatious">#</a> </dt>

    <dd><p><%= site_name %> لا تقدم أي طلبات. نرسل طلبات نيابة عن مستخدمينا، وهم أشخاص حقيقيون يستوفون هذه الطلبات. </p>
      <p> مثال: إذا قام العديد من الأشخاص بتقديم طلبات باستخدام عناوين بريد إلكتروني في هوتميل، فلن تتهم ميكروسوفت بتقديم طلبات مزعجة. وهو نفس الشيء مع الطلبات المقدمة عبر <%= site_name %>. بالإضافة إلى ذلك، نظرا لأن جميع الطلبات عامة، يمكنك بسهولة معرفة ما إذا كان أي من المستخدمين لدينا يقوم بطلبات مزعجة. </p>

    </dd>

    <dt id="spam_problems"> أستطيع أن أرى طلبا على إنفورميني، ولكن لم نتلق رسالة بالبريد الالكتروني <a href="#spam_problems">#</a> </dt>

    <dd><p> إذا ظهر طلب على الموقع، فهذا يعني أننا حاولنا إرساله إلى الهيكل العمومي عبر البريد الإلكتروني. ستظهر جميع رسائل فشل التسليم تلقائيا على الموقع. يمكنك التحقق من العنوان الذي نستخدمه بالنقر على الرابط "راجع عنوان البريد الإلكتروني لطلب النفاذ" الذي يظهر على صفحة الهيكل العمومي. <a
        href="<%= help_contact_path %>"> اتصل بنا </a> إذا كان هناك عنوان أفضل يمكننا استخدامه</p>
      <p> في بعض الأحيان ، لا تصل الطلبات نظرًا لأنه يتم حظرها بواسطة "عوامل تصفية البريد الإلكتروني العشوائي" الخاصة بإدارة تقنية المعلومات بالهيكل العمومي. يمكن للمؤسسات التأكد من أن هذا لا يحدث مرة أخرى عن طريق مطالبة قسم تقنية المعلومات بإضافة رسائل البريد الإلكتروني <strong>@<%= AlaveteliConfiguration::incoming_email_domain %></strong> إلى قائمة رسائل البريد الإلكتروني المسموح بها..
        بناء على طلبك <a href="<%= help_contact_path %>"> يمكننا </a> أن نرسل لك الطلبات التي تم تقديمها بالفعل و / أو نمنحك التفاصيل الفنية حول مشكلة التسليم حتى يتمكن قسم تكنولوجيا المعلومات لديك من حل المشكلة.
      </p>
      <p> وأخيرا، يمكنك الرد على أي طلب من المتصفح دون الحاجة للبريد الإلكتروني، ببساطة عن طريق استخدام "الرد على الطلب" في الجزء السفلي من كل طلب.
      </p>
    </dd>

    <dt id="days"> كيف يتم تحديد آجال الإجابة على طلبات النفاذ إلى المعلومة ؟ <a href="#days">#</a> </dt>

    <dd>

      <p> من الناحية القانونية ، </p>

      <blockquote><p> يجب أن تستجيب الهياكل لطلبات النفاذ إلى المعلومة. <strong>بسرعة</strong> إذا كان الهيكل غير قادر على القيام بذلك خلال الإطار الزمني المحدد ، فمن الأفضل أن يبرر سبب التأخير . </p></blockquote>

      <p> إضافةً إلى ذلك ، تنشر منصة إنفورمني المدة الزمنية القانونية القصوى للرد على كل طلب. <strong>بشكل طبيعي</strong>.</p>

      <p> إذا طلب الهيكل معلومات إضافية ، يُطلب من المتقدمين بالطلب الإشارة إلى الوقت الذي قاموا فيه بتوضيح طلبهم حتى يتم إعادة ضبط الساعة. إذا لاحظت مشكلة في طلب معين ، فأخبرنا حتى نتمكن من إجراء التصحيحات اللازمة. </p>

      <p> يظهر التاريخ المحسوب في أسفل صفحة طلب النفاذ كالآتي: "في انتظار رد من الهيكل العمومي في الوقت الحالي ، يجب أن يستجيبوا بسرعة وبشكل طبيعي في موعد أقصاه XXX </p>

    </dd>


    <dt id="large_file"> كيف يمكنني إرسال ملف كبير الحجم ، في صورة  إذا كان من المستحيل إرساله عن طريق البريد الإلكتروني؟ <a href="#large_file">#</a> </dt>

    <dd> بدلاً من الرد عبر البريد الإلكتروني ، يمكنك الرد على طلب النفاذ مباشرةً من متصفح الإنترنت الخاص بك ، يمكنك أيضًا إيداع أو تنزيل ملف. للقيام بذلك ، اختر "الرد على الطلب" في أسفل صفحة الطلب <a href="<%= help_contact_path %>">Contact us</a> if it
       اتصل بنا إذا كان ملفك كبيرًا جدًا (أكثر من 50 ميغابايت).
    </dd>

    <dt id="names"> لماذا تنشر أسماء المسؤولين ونصوص رسائل البريد الإلكتروني؟ <a href="#names">#</a> </dt>

    <dd> نحن نعتبر أن ما يفعله الموظفون أو المسؤولون أثناء الخدمة يعتبر  من المعلومات ذات الأهمية والصبغة العمومية. سنقوم فقط بحذف المحتوى في ظروف استثنائية ،  راجع السؤال <a href="<%= help_privacy_path(:anchor => 'takedown') %>"> هل يمكنك حذف معلوماتي الشخصية؟ </a>.
    </dd>

    <dt id="mobiles"> هل تقوم المنصة بنشر عناوين البريد الإلكتروني أو أرقام الهواتف المحمولة؟ <a href="#mobiles">#</a> </dt>

    <dd><p> لمنع الرسائل غير المرغوب فيها ، نحذف تلقائيًا معظم رسائل البريد الإلكتروني وأرقام الجوال من الردود على الطلبات. يرجى <a href="<%= help_contact_path %>"> الاتصال بنا </a> إذا كان البريد الإلكتروني أو الهاتف يظهر في صفحة الرد
        لأسباب فنية ، لا نقوم بحذف رسائل البريد الإلكتروني والهواتف في المرفقات ، على سبيل المثال في ملفات PDF.</p>
    <p> إذا كنت تريد معرفة عنوان بريد إلكتروني تم حذفه, يرجى <a
      href="<%= help_contact_path %>">أن تطلب منا ذلك</a>.
      <% if AlaveteliConfiguration::enable_annotations %>
        من وقت لآخر ، يعد عنوان البريد الإلكتروني جزءًا مهمًا من الإجابة ، وسنعرضه بعد ذلك في نموذج مخفي في تعليق.
      <% end %>
    </p>
    </dd>
ما هي سياسة حقوق الطبع والنشر الخاصة بمنصة إنفورمني للمستندات؟ <a href="#copyright">#</a> </dt>

    <dd> لا يفرق قانون النفاذ إلى المعلومة بين المتقدمين بطلبات النفاذ إلى المعلومة ، فهذا يعني أن أي شخص في العالم يمكنه طلب نفس المستند والحصول على نسخة منه.

      إذا كنت تعتقد أن إتاحة هذه الوثيقة على الإنترنت تنتهك حقوق الطبع والنشر ،  فيمكنك <a href="<%= help_contact_path %>"> الاتصال بنا </ a> ومطالبتنا بإزالتها.
         لتجنب طلبات متعددة للهياكل، و للحفاظ على علاقات جيدة مع المواطنين، فإننا نطلب منك لتفادي طلب الإزالة.
    </dd>

  </dl>

  <p><strong> اقرأ </strong>, قسم <a href="<%= help_about_path %>"> تقديم منصة إنفورمني </a> --&gt;
    <br><strong>Otherwise</strong>, the <a href="<%= help_credits_path %>">credits</a> or the <a href="<%= help_api_path %>">programmers API</a> --&gt;

    <div id="hash_link_padding"></div>
</div>
