<% @title = _("خصوصيتك") %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="privacy"><%= @title %> <a href="#privacy">#</a></h1>
  <dl>

    <dt id="email_address"> من يمكنه الاطلاع على عنوان بريدي الإلكتروني؟ <a href="#email_address">#</a> </dt>

    <dd><p> لن نكشف عنوان بريدك الإلكتروني لأي شخص ما لم نكون ملزمين قانونيا بذلك، أو إذا طلبت منا ذلك. وهذا يشمل الهيكل العمومي الذي تقوم بتقديم الطلب له. لن تظهر سوى رسالة بريد إلكتروني
        @<%= AlaveteliConfiguration::incoming_email_domain %> تم إنشاؤها خصيصا لطلبك..  </p>
      <p> إذا أرسلت رسالة عبر الموقع إلى مستخدم آخر، فستشمل هذه الرسالة الأخيرة عنوان بريدك الإلكتروني. سيتم إعلامك عندما يحدث هذا. </p>
    </dd>

    <dt id="nasty_spam"> هل سأتلقى رسائل غير مرغوب فيها إلى عنوان بريدي الإلكتروني؟ <a href="#nasty_spam">#</a> </dt>
    <dd>لا. بمجرد الاشتراك في إنفورميني، لن نرسل إليك سوى رسائل إلكترونية حول طلب قمت بإجرائه، أو تنبيه بالبريد الإلكتروني الذي قمت بتسجيله، أو نشاط المنصة أو غيرها من الأنشطة التي قد وافقت عليها مسبقاً. لن نعطي أو نبيع عنوان بريدك الإلكتروني لأطراف ثالثة إلا إذا كنا ملزمين قانونا بذلك، أو إذا كنت قد طلبت ذلك
    </dd>

    <dt id="public_request"> لماذا يظهر اسمي وطلبي بشكل عام على الموقع؟ <a href="#public_request">#</a> </dt>

    <dd>
      <p> ننشر طلبك على شبكة الإنترنت، حتى يتمكن الجميع من قراءته و استخدام المعلومات التي تلقيتها من الهياكل العمومية. عادة نحن لا نقوم بحذف الطلبات (<a href="#delete_requests">more details</a>).
      </p>
      <p>
        ويرتبط اسمك بالطلب الذي قمت به، وهذا هو سبب نشره. يساعد استخدام اسمك الحقيقي أيضا الأشخاص في التواصل معك لمساعدتك في البحث. 
      <p>قانونيا يجب عليك استخدام اسمك الحقيقي ليكون الطلب قانونيا.
      </p>
    </dd>

    <dt id="real_name"> هل يمكنني طلب معلومات تحت اسم مستعار؟ <a href="#real_name">#</a> </dt>


    <dd>
      <p> يجب استخدام اسمك الحقيقي لكي يكون طلبك قانونياً.
        <a href="http://www.onshor.org"></a>.
      </p>

      <p> ومع ذلك، يمكن أن توافق الهياكل العمومية على الاستجابة لطلب مقدم تحت اسم مستعار. </p>

      <p> ولكن كن حذرا، حتى لو كان الهيكل يتبع هذه الممارسة الجيدة، فإن استخدام اسم مستعار يمنعك من التظلم لدى الهيئة في حالة الرفض من الهيكل.
      </p>

      <p> هناك عدة بدائل لاستخدام اسم مستعار. </p>

      <ul>
        <li> استخدم شكلا آخر من اسمك. "السيد أيمن بن أحمدي "يمكن أن يسمى" أيمن أحمدي "،" أ. ب. أحمدي "، أو" أ. أحمدي "، ولكن <strong>ليس</strong> " أيمن "أو" أ ب أ "
        </li>
        <li> يمكن للنساء استخدام اسمهن قبل الزواج. </li>
        <li> استخدام، بموافقتهم، اسم المنظمة، واسم الشركة، واسم الشركة التجارية، واسم الجمعية، وما إلى ذلك. </li>
        <li> الطلب من شخص التقدم بطلب لك. </li>
        <li> يمكنك، إذا كنت عالقا حقا، الطلب منا أن نقدم الطلب لك. يرجى <a href="<%= help_contact_path %>"> الاتصال بنا </a>  في هذه الحالة
          لشرح سبب إستحالة تقديم طلب النفاذ بنفسك ولماذا لا يمكنك أن تطلب من أحد معارفك القيام بذلك. ليس لدينا الموارد للقيام بذلك للجميع. </li>
      </ul>

      <p> في أي حال، لا يمكنك إنتحال صفة أي شخص آخر! </p>

    </dd>

    <dt id="full_address"> يطلب الهيكل العام عنواني البريدي <a href="#full_address">#</a> </dt>

    <dd>
      <p> يتطلب قانون النفاذ للمعلومة تقديم الطلبات كتابيا. وتعترف السوابق القضائية بالبريد الإلكتروني باعتباره كتابة صالحة لطلب النفاذ إلى المعلومات التي تحتفظ بها الهياكل العامة. لذا من الممكن تلقي إجابة عن طريق البريد الإلكتروني.
      </p>
      <p>
    
      </p>
    </dd>

    <dt id="postal_answer">الهيكل يحتاج إلى عنوان بريدي لإرسال الرد عن طريق البريد <a href="#postal_answer">#</a> </dt>

    <dd>
      <p> إذا كان الهيكل العمومي لديه فقط نسخة مطبوعة من المعلومات التي تريدها، فقد يطلب منك عنوانا بريديا. </p>

      <p> إذا كان من الصعب مسح هذه الوثائق وأرسلها إلكترونياً ، وتريد أن توفر عنوانك البريدي بشكل خاص لتلقي الوثائق، ضع علامة على طلبك باستخدام الخيار "إجابة عن طريق البريد". سيكون لديك بعد ذلك عنوان بريد إلكتروني للاتصال بهم. </p>
    </dd>

    <dt id="delete_requests"> هل يمكن حذف طلباتي أو تغيير اسمي؟  <a href="#delete_requests">#</a> </dt>

    <dd>

      <p><%= site_name %> هو أرشيف عام دائم للوصول إلى طلبات النفاذ للمعلومة. حتى إذا وجدت أن الإجابة على طلب لم تعد مفيدة، يمكن أن تكون مهمة للآخرين. ولهذا السبب، لا يتم حذف الطلبات.
      </p>

      <p> في حالات استثنائية، يجوز لنا حذف اسمك أو تغييره على الموقع،)راجع السؤال التالي.( وتبعاً، قد نقوم أيضا بحذف معلومات شخصية أخرى.       </p>

      <p> إذا كنت قلقا بشأن هذا، راجع قسم الإسم واللقب قبل التقدم بطلب النفاذ. <a href="#real_name">pseudonyms</a>.</p>

    </dd>

    <dt id="takedown"> هل يمكن حذف معلوماتي الشخصية؟ <a href="#takedown">#</a> </dt>

    <dd>

      <p>إذا رأيت أي معلومات شخصية عنك على الموقع تريد منا إزالتها أو إخفاؤها فيرجى <a href="<%= help_contact_path %>">إخبارنا بذلك</a>.
        حدد بالضبط ما هي المعلومات التي تمثل إشكالية، ولماذا، وأين تظهر على الموقع. </p>

      <p>إذا كانت هذه المعلومات الشخصية التي تم نشرها عن طريق الخطأ حساسة،  فسنقوم بحذفها. عادة، ننظر فقط في طلبات حذف المعلومات الشخصية التي تأتي من الشخص المعني، ولكن في حالة ملاحظة معلومات حساسة عن أشخاص آخرين، سنكون ممتنين لأي شخص يتوجه لنا بطلب الحذف</p>

      <p> ونحن نرى أن هناك مصلحة عامة في حفظ أسماء الموظفين العموميين . ولن نزيل هذه الأسماء إلا في ظروف استثنائية، حيث يكون الكشف عن اسم وموقف شخص ما ضارا بسلامته. إذا كنت واحدا من هؤلاء المسؤولين وكنت ترغب في إزالة اسمك لهذا السبب، يجب أن ترسل لنا طلب إزالة عن طريق صفحتك. ويجب أن يثبت هذا الطلب أن الخطر صارخ وأن هذا الخطر يفوق المصلحة العامة. سيكون عليك أيضا إثبات أن الجهود قد بذلت لإخفاء اسم الشخص المعني في موقع الهيكل العام. </p>

      <p> لا يمكننا بسهولة تغيير أشكال معينة من المرفقات )مثل ملفات بدف أو ملفات ميكروسوفت ورد أو إكسيل(، ولذا فإننا سوف نسأل عادة الهياكل إعادة المستندات إلينا مع حذف المعلومات الشخصية أولا. </p>

    </dd>


  </dl>

  <p><strong>لمعرفة المزيد</strong> راجع الأسئلة الشائعة للهيكل العام التالي <a href="<%= help_officers_path %>">انظر أسئلة للمكلفين بالنفاذ للمعلومة</a> --&gt;

    <div id="hash_link_padding"></div>
</div>