<% @title = _("Making requests") %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a></h1>
  <dl>

    <dt id="which_authority"> أنا لا أعرف لأي هيكل عمومي يجب إرسال طلبي، ماهي كيفية الاختيار؟ <a href="#which_authority">#</a> </dt>

    <dd>
      <p> ليس من السهل أن نفهم البنية المعقدة لدولتنا و أن نعرف أي هيكل عمومي يملك المعلومات التي نحتاج إليها. هاهي بعض الحلول:
      </p>
      <ul>
        <li> تصفح أو ابحث في <%= site_name %> عن طلبات النفاذ المماثلة لطلبك . </li>
        <li> عندما تجد الهيكل العمومي الذي يملك المعلومات التي تحتاج إليها، استخدم زر "الصفحة الرئيسية للهيكل العمومي" على الجانب الأيسر من الصفحة لمزيد المعلومات عن الهيكل على موقعه. </li>
        <li> اتصل بالهيكل عن طریق الھاتف أو البرید الإلکتروني لتعرف ما إذا کانت لدیھم المعلومات التي تحتاجھا. </li>
        <li> إذا كنت تواجه أي صعوبةً، يمكنك <a href="<%= help_contact_path %>"> الاتصال بنا </a> f لطلب المساعدة. </li>
      </ul>

    </dd>



    <dt id="missing_body"> لا يوجد الهيكل العمومي الذي أريد الاتصال به في قائمتكم. <a href="#missing_body">#</a> </dt>

    <dd>
      <p> يرجى <a href="<%= new_change_request_path %>"> الاتصال بنا </a> ومدنا بإسم الهيكل العمومي أو عنوان البريد الإلكتروني لجهة الاتصال الخاص به. مساعدتكم هامة جداً لاستكمال قائمة الهياكل العمومية .
      </p>
      <p> مساعدتكم هامة جداً لاستكمال قائمة الهياكل العمومية .
      </p>

    </dd>

    <dt id="authorities"> لماذا تضيفون هياكل لا تخضع لقانون النفاذ للمعلومة؟ <a href="#authorities">#</a> </dt>

    <dd>
      <p><%= site_name %> يسمح لك بتقديم طلبات لجميع أنواع المنظمات: </p>

      <ul>
        <li> تلك التي تخضع رسميا لقانون النفاذ للمعلومة وتلك التي توافق طواعية على النشر، لأننا نعتقد أن لديها مسؤولية أخلاقية، وبالتالي التزاما بالشفافية. </li>
        <li> وفي هذه الحالة، يتمثل هدف الشفافية في توسيع نطاق القانون المتعلق بحرية النفاذ للمعلومة.         </li>
      </ul>

      <p>وحتى إذا لم تكن المنظمة ملزمة قانونا بالاستجابة لطلب ما، فإنها تستطيع أن تفعل ذلك بإرادتها الحرة.

      </p>

    </dd>

    <dt id="focused"> لماذا يجب على طلبي أن يكون دقيقاً؟ <a href="#focused">#</a> </dt>

    <dd>

      <p>
        يرجى أن تضع في طلبك فقط ما هو ضروري بحيث يمكن للهيكل العمومي تحديد المعلومات التي تطلبها بسهولة.  يجب الحرص على
        <i> عدم </i> تضمين ما يلي:
      </p>

      <ul>
        <li> المعلومات أو الحجج المتعلقة بمشكلة محددة أو شخصية. </li>
        <li> معطياتك الشخصية لأنه سيتم نشر التفاصيل الخاصة بك وطلبك على إنفورميني. </li>
      </ul>

      <p>
        المعلومات التي يمكن أن تشوه أو تهين أطراف ثالثة.
      </p>

      <p>
         إن قمت بذلك، فقد نضطر إلى إلغاء طلبك لتجنب المشاكل المتعلقة بقوانين الثلب، مما قد يسبب مشاكل لنا و لك. كلما كانت الرسائل أقصر وأكثر دقة، كلما أصبحت إجابات الهيكل العمومي لك أكثر فعالية وسرعة .
           إذا كنت تستخدم طلبا عبر إنفورميني لكتابة مدونة أو مقالة، فهل يمكنك إضافة رابط إلى هذا الطلب في إنفورميني في مقالتك؟ فهذا سوف يساعد المستعملين الجدد للتعرف على أداة إنفورمني.

      </p>

    </dd>

    <dt id="fees"> هل يتكلف تقديم طلب النفاذ شيئاً؟ <a href="#fees">#</a> </dt>

    <dd>

      <p> تقديم مطالب النفاذ للمعلومة مجاني (اطلب الوثائق إلكترونيا). </p>

      <p> وفي بعض الحالات، يجوز للهيكل العمومي أن يطلب دفع مبلغ لتغطية تكاليف النسخ إذا كانت الوثائق المطلوبة لا يمكن أن ترسل إلا في شكل ورقي ولكن معظم الوثائق يمكن أن تتوفر من قبل الهياكل العمومية عن طريق الوسائل الإلكترونية ببساطة عن طريق الرد على البريد الإلكتروني الذي أرسلته إنفورميني.
      </p>

    </dd>



    <dt id="quickly_response"> متى أتلقى إجابة على طلبي؟ <a href="#quickly_response">#</a> </dt>

    <dd>
      <p> وفقا لقانون النفاذ إلى المعلومة،  لا يجب أن تتجاوز مدة الإجابة 20 يوما. وخلال هذه الفترة ، يجوز للهيكل العمومي أن يطلب تمديدا لفترة 10 أيام لحين وقت الاستجابة ( هذا في صورة ما أن توفير المعلومات المطلوبة يتطلب مزيدا من الوقت).
      </p>
      <p><%= site_name %> سترسل لك رسالة إلكترونية إذا لم تتلق إجابة خلال المهلة القانونية. </p>

    </dd>

    <dt id="no_response"> ماذا لو لم أتلق جوابا؟ <a href="#no_response">#</a> </dt>

    <dd>
      <p> هناك عدة أشياء يمكنك القيام بها إذا لم تتلق إجابة. </p>
      <ul>
        <li> هناك عدة أشياء يمكنك القيام بها إذا لم تتلق إجابة.  في بعض الأحيان قد تكون هناك مشكلة فنية وقد لا تكون السلطة قد تلقت طلبك (بما أنه يتم إرسالها عن طريق البريد الإلكتروني).
        </li>
        <li> و في صورة ما لم يتلقى الهيكل العمومي مطلب النفاذ ، فمن المحتمل أن تكون المشكلة ناجمة عن "فلتر الرسائل غير المرغوب فيها". يرجى الرجوع إلى السؤال
          '<a href="<%= help_officers_path(:anchor => 'spam_problems') %>">نستطيع أن أرى طلبا من <%= site_name %>, ولكننا لم نتلق أي بريد إلكتروني</a>'
          في قسم "الأسئلة الشائعة للهياكل العمومية" في موضوع المساعدة .
        </li>
        <li> إذا رفض الهيكل العمومي الرد أو إذا لم يرد خلال المهلة القانونية، فبإمكانك التظلم.  لمزيد من المعلومات، اقرأ صفحة '<a href="<%= help_general_path(:action => 'unhappy') %>">غير راض عن الإجابة التي تلقيتها؟</a>'.
      </ul>
    </dd>

    <dt id="not_satifised"> ماذا لو لم أكن راضيا عن الجواب؟ <a href="#not_satifised">#</a> </dt>
    <dd> إذا لم تتلق المعلومات التي طلبتها أو لم تتلقها في الوقت المحدد، فاقرأ '<a href="<%= help_general_path(:action => 'unhappy') %>">غير راض عن الرد الذي تلقيته؟</a>'.
    </dd>

    <dt id="reuse"> طلب مني الهيكل العمومي عدم إعادة استخدام المعلومات التي تلقيتها! <a href="#reuse">#</a> </dt>
    <dd>
      <p> قد تضيف الهياكل العمومية في بعض الأحيان مذكرة قانونية حول "إعادة استخدام الوثائق الإدارية"، وهو ما يعني للوهلة الأولى أنه لا يمكنك إعادة استخدام هذه المعلومات.
      </p>

      <p> يمكنك، بطبيعة الحال، كتابة مقالات على أساس هذه المعلومات أو تقديم ملخص أو حتى اقتباس أجزاء منها. في إنفورميني ندعو إلى الشفافية ونرى أنه يجب أن تكون حرا لنشر المعلومات في مجملها، كما نفعل نحن، حتى لو كان هذا من الناحية النظرية، غير مسموح به.   لمزيد المعلومات راجع <a href="<%= help_officers_path(:anchor => 'copyright') %>"> سياسة حقوق الطبع والنشر. </a>.</p>

    </dd>

    <dt id="data_protection"> هل يمكنني طلب معلومات عن نفسي؟ <a href="#data_protection">#</a> </dt>

    <dd>
      <p> لا. يتم تقديم المعلومات عن طريق <%= site_name %> . لا يمكن استخدام المنصة لطلب معلومات عنك أو أي شخص آخر خاص. </p>

      <p> إذا كنت ترغب في معرفة المعلومات التي تحتفظ بها الهياكل العمومية عنك، يجب تقديم الطلب مباشرة إلى السلطة دون المرور عبر موقع ويب إنفورميني. </p>

      <p> إذا رأيت أن شخصا ما قد ضمن معلومات شخصية عنك، ربما عن غير قصد، في أحد التطبيقات، يرجى <a href="<%= help_contact_path %>">الاتصال بن</a>
        حتى نتمكن من إزالتها. وبسبب النشر التلقائي على موقع ردود الهياكل العمومية، فلا يمكن استخدام إنفورميني لطلب الوثائق الخاضعة لحقوق التأليف والنشر..</p>
    </dd>


    <dt id="private_requests"> أود أن أبقي طلبي سريا (على الأقل حتى أنشر مقالتي) <a href="#private_requests">#</a> </dt>

    <dd><p><%= site_name %>  تم تصميمه حاليا فقط للاستفسارات العامة. إذا كنت صحافيا وتريد فترة حصرية، يرجى الاتصال بفريقنا للتعاون.  يتم نشرجميع الإجابات التي نتلقاها تلقائيا مباشرةً على الموقع بحيث يتسنى للجميع قراءتها.  </p>
      <p> إذا كنت ترغب في تقديم طلب غير عام، يجب عليك الاتصال بالهيكل العمومي مباشرة.
      </p>
    </dd>

    <dt id="multiple"> هل يمكنني تقديم نفس الطلب إلى عدة سلطات، على سبيل المثال "موجهة إلى جميع البلديات"؟ <a href="#multiple">#</a> </dt>

    <dd> نوصي بأن ترسل أولا نسخة "اختبار" من طلبك إلى بعض الهياكل. سوف تساعدك إجاباتهم على تحسين صياغة طلبك، بحيث تحصل على معلومات أفضل عند إرسال طلبك إلى الهياكل الأخرى. لا يوجد حاليا أي نظام آلي لإرسال طلب إلى هياكل متعددة، وسوف تحتاج إلى نسخ ولصق طلبك يدويا.

    </dd>

    <dt id="offsite"> طلبت معلومات خارج الموقع، كيف يمكنني نقلها إلى إنفورميني؟ <a href="#offsite">#</a> </dt>

    <dd> يقوم أرشيف <%= site_name %> بتخزين طلبات النفاذ إلى المعلومات من خلال الموقع. لا يمكن أرشفة أنواع أخرى من البيانات. وأحد الأسباب هو أنه مع الطلبات المقدمة خارج الموقع لا يمكننا التحقق مما إذا كانت الهياكل العمومية هي التي أجابت، وأنها فعلاً إجابتها. لهذا فإننا ننصحك بإرسال طلباتك مباشرة عن طريق <%= site_name %>.
    </dd>

    <% if AlaveteliConfiguration::enable_annotations %>
      <dt id="moderation"> كيف يمكنك الإشراف على التعليقات في الطلبات؟ <a href="#moderation">#</a> </dt>

      <dd>
        <p> توجد تعليقات في <%= site_name %> لمساعدة المستعملين على الحصول على المعلومات التي يبحثون عنها. نحن نحتفظ بالحق في حذف أي تعليقات أخرى.
        </p>
        <p> نحن نحتفظ بالحق في حذف أي تعليقات أخرى. و لا يسمح بالمناقشات السياسية. </p>
      </dd>
    <% end %>

  </dl>

  <p><strong>Next</strong>,  تعرف على المزيد حول <a href="<%= help_privacy_path %>"> خصوصيتك </a> --&gt;

    <div id="hash_link_padding"></div>
</div>